@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
    outline: 2px solid red;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: white;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    width: 100%;
    background-color: rgb(0, 48, 73);
    color: white;
    position: fixed;
    top: 0%;
    z-index: 10;
}

header a{
    color: white; 
   text-decoration: none;
}

nav ul li{
    list-style: none;
    font-size: 1.2rem;
    
}


nav ul li a:hover{
    text-decoration: underline;
}

.hero-page{
    width: 100%;
    height: 100vh;
    margin: 80px auto;
    background: url(./image.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.hero-page-layer{
    width: 100%;
    height: 100vh;
    background:linear-gradient(45deg,rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.849));
    display: grid;
    place-content: center;
}

.hero-page-layer h1{
    font-size: 4rem;
}

.hero-page-layer button{
    width: 150px;
    padding: 15px 20px;
    font-size: 1rem;   
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.281);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    cursor: pointer;
    color: white;
}

.hero-page-layer button a{
    text-decoration: none;
    

}

.movies-body{
    width: 80%;
    margin: 150px auto;
}

.movie-titles{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

#films{
    width: 30%;
}

.movie-posters{
    width: 50%;
}

.movie-posters img{
    width: 100%;
}

.movie-details{
    width: 30%;
}


footer{
    background-color: rgb(0, 48, 73);
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-size: 1.1rem;
}